html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body{
  min-height: 100vh;
  line-height: 18px;
  letter-spacing: 0.6px;
  font-style: normal;
  color: #242121;
  font: {
    family: 'Roboto Condensed', sans-serif;
    size: 14px;
    weight: 300;
  }
}

.container{
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header{
  background-image: url('../images/bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  &__top-inner {
    padding-top: 35px;
    display: flex;
    align-items: center;
  }
}

.menu{
  margin: 0 auto;
  padding: 0 auto;

  &__list{
    display: flex;
  }
}

.menu__list-item + .menu__list-item{
  margin-left: 39px;
}


.menu__list-link{
  padding: 0 3px 5px;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.6px;
  transition: all .5s;

  &:hover{
    border-bottom: 1px solid #00B2A0;
  }
}

.header__content-inner{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title{
  margin-top: auto;
  line-height: 235px;
  color: #0D302C;
  font: {
    family: 'Raleway', sans-serif;
    size: 200px;
    weight: bold;
  }
}

.header__subtitle{
  line-height: 28px;
  color: #000;
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  font: {
    size: 24px;
    weight: normal;
  }
}

.header__icon{
  display: flex;
  justify-content: center;
  margin-bottom: 92px;
}

